body{
  background:url(https://images.unsplash.com/photo-1543756070-dd3109556b0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  min-width: 500px;
  min-height:900px;
  margin: auto;
  font-family: Tahoma;
}

h1{
  text-align: center;
  line-height: 1.1;
  color: #e8d8d5;
  font-weight: normal;
  background: steelblue;
  margin: 0;
  text-transform: uppercase;
  padding: 20px 0;
}

.square{
  width: 30%;
  margin: 1.66%;
  background: purple;
  padding-top: 30%;
  float: left;
  border-radius: 15%;
  transition: background 0.6s;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
}

#container{
  margin: 20px auto;
  max-width: 600px;
}

#stripe{
  background: #e8d8d5;
  height: 30px;
  text-align: center;
  color: black;
}

#colorDisplay{
  font-size: 200%;
}

.selected{
  background: steelblue;
  color: #e8d8d5;
}

#message{
  display: inline-block;
  font-weight: 600;
  color: #210680;
  width: 20%;
}

button{
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 0.5px;
  font-size: inherit;
  transition: all 0.3s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  outline: none;
}

button:hover{
  color: #e8d8d5;
  background: steelblue;
}